.hero_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hero_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.hero_image{
    display: flex;
    justify-content: flex-end;
}

.hero_image img{
    width:15rem;
}
