.sidebar {
  background-color: red;
  flex: 1;
  height: calc(100vh - 60px);
  position: sticky;
  top: 60px;
  
}
.sidebar__container {
  padding: 5rem 1rem;
}

.myImage2{
    width: 10rem;
    border-radius: 50%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
