@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@400;500;600&display=swap");

:root {
  --clr-primary: #1ecbe1;
  --clr-secondary: #e1341e;
  --bg-clr:#262626;
  --bg-light: #2d2d2d;
  --bg-dark: #010101;
  --white: #ffffff;
  --text-light: #616161;
  --max-width: 1200px;
  --max-width-full: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--bg-clr);
  color: var(--white);
}

h1,h2,h3{
  /* font-family:  "Montserrat", sans-serif; */
  margin-bottom: .5rem;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: .3rem;
}
h2{
  font-weight: 400;
  font-size: 3rem;
  line-height: 2.5rem;
}

a{
  text-decoration: none;
  color: inherit;
  padding:0 1rem ;
}
img{
  display: flex;
  width: 100%;
}

/* Image rounded */
.rounded__image{
  border-radius: 50%;
}


/* /////////////// */
/* flex */
/* ////////////// */
.flex{
  display: flex;
}
.flex-base{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container */
.container{
  margin: 0 auto;
  padding: 5rem 1rem;
  max-width: var(--max-width);
}
